.profile__card {
  width: 560px;
  height: 560px;
  background: #ffffff;
  border: 1px solid #ababab;
  border-radius: 6px;
  padding: 55px;
  margin-bottom: 40px;
}

    /* Responsive */
    @media only screen and (max-width: 576px) {
      .profile__card {
        width: 330px;
        height: 520px;
        padding: 20px;
      }
    }